<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="TestNG Regression Suite" thread-count="3" parallel="tests"
	verbose="4">

	<test name="Google Test">
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="headless" value="false"></parameter>
		<parameter name="url" value="https://www.google.com"></parameter>		
		<classes>
			<class name="mytests.GoogleTest" />
		</classes>
	</test>


	<test name="OpenCart Test">
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="headless" value="false"></parameter>
		<parameter name="url" value="https://naveenautomationlabs.com/opencart/index.php?route=account/login"></parameter>		
		<classes>
			<class name="mytests.OpenCartTest" />
		</classes>
	</test>


	<test name="OrangeHRM Test">
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="url" value="https://www.orangehrm.com/en/30-day-free-trial"></parameter>
		<parameter name="headless" value="false"></parameter>

		<classes>
			<class name="mytests.OrangeHRMTest" />
		</classes>
	</test>

</suite> 